// Import page-specific CSS files here.
@import "home";

#help-link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.done {
  color: $green;
}

.in-progress {
  color: $red;
}

.col-centered {
  margin: 0 auto;;
}

h1.title {
  margin-left: -9px;
}

.error-message {
  color: $red;
  margin-bottom: 0;
}

@media(max-width: 500px) {
  .comment-date p {
    display: none;
  }

  .main-content {
    .fa-trash, .fa-pen {
      opacity: 0.2;
    }
  }
  .comment {
    .fa-trash {
      opacity: 0.2;
    }
  }

  .deadline {
    font-size: 12px;
  }
}