// Import page-specific CSS files here.
@import "home";

#help-link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.done {
  color: $green;
}

.in-progress {
  color: $red;
}

.content {
  margin: 0 auto;
}