<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <h1>Todo List</h1>
      <button class="btn btn-primary mb-2" id="new-task-button">
        Add a new task
      </button>
      <div class="d-none" id="new-task-form">
        <% if policy(Task).create? %>
          <%= render "shared/task_form"  %>
        <% end %>
      </div>
    <% @tasks.each do |task| %>
      <%= render "task", task: task %>
    <% end %>
  
  </div>
  </div>
</div>

