.comment {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
  padding: 0 8px;
  background-color: $light-gray;
  margin-bottom: 8px;
  
  .comment-date {
    display: flex;
    justify-content: space-between;  
  }

  p.small {
    margin-right: 8px;
    margin-bottom: 0;
  }
  
  .fa-trash {
    opacity: 0;
    color: black;
  }
  &:hover .fa-trash {
    opacity: 0.2;
  }

  .fa-trash:hover {
    opacity: 0.6;
  }
}