.card {
    
    .main-content {
      margin: 8px;
      display: flex;
      justify-content: space-between;

      .cont-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .actions {
          display: flex;
          justify-content: space-evenly;
        }
      }

      .cont-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p.small {
          margin-bottom: 0;
        }

        .task-status {
          display: flex;
          max-width: 500px;
          // justify-content: baseline;

          .fas {
            margin-top: 4px;
            margin-right: 8px;
          }
        }
      }
    }

  .comments {
    padding: 16px;
  }
    .priority-1 {
      color: $red;
    }

    .priority-2 {
      color: $yellow;
    }

    .priority-3 {
      color: $green;
    }

    .fa-trash, .fa-times-circle, .fa-check-circle, .fa-sort-down {
      cursor: pointer;
    }
}

.task-card {
  .fa-trash {
    opacity: 0;
    color: black;
  }
  &:hover .fa-trash {
    opacity: 0.2;
  }

  .fa-trash:hover {
    opacity: 0.6;
  }
}

.rotate {
  transform: rotate(180deg);
}